Package: aisberg
Version: 1.0.30
Section: utils
Priority: optional
Architecture: all
Depends: curl, coreutils, debconf, cifs-utils, mc,  python3, python3-requests, wget, ca-certificates, victoriametrics
Maintainer: AisbergProject
Description: Hybrid file storage migration platform
