Package: aisberg
Version: 1.0.5
Section: utils
Priority: optional
Architecture: all
Depends: curl, coreutils, debconf, cifs-utils, mc
Maintainer: AisbergProject
Description: Hybrid file storage migration platform
